.createGoodsPlanPage :global(.am-textarea-count) {
  bottom: 25px;
  right: 25px;
  color: #9B9B9B !important;
}

.createGoodsPlanPage :global(.am-textarea-count) span {
  color: #9B9B9B;
}

.createGoodsPlanPage :global(.am-list-brief){
  margin-top: 0px!important;
  float: right;
    text-align: right;
    width: calc(100% - 80px);
}

.sendBtn {
  width: 85%;
  margin: 20px auto;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
}

.detail {
  margin-bottom: 50px;
}

.cancelButton {
  width: 50%;
  display: inline-block;
  position: fixed !important;
  left:0;
  bottom:0;
  border-radius: 0px !important;
  color: black;
  background: white;
  height: 50px;
  line-height: 50px;
  z-index: 100;
}

.modifyButton {
  width: 50%;
  display: inline-block;
  position: fixed !important;
  right:0;
  bottom:0;
  border-radius: 0;
  color: white;
  background: rgba(49,151,251,1);
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
  z-index: 100;
}

.goPrebookingListButton{
  width: 33%;
  display: inline-block;
  position: fixed !important;
  left:0;
  bottom:0;
  border-radius: 0;
  color: black;
  background: white;
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
  z-index: 100;
}

.goTransportListButton{
  width: 33%;
  display: inline-block;
  position: fixed !important;
  left:33%;
  bottom:0;
  border-radius: 0;
  color: black;
  background: white;
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
  z-index: 100;
}

.createPrebooking{
  width: 34%;
  display: inline-block;
  position: fixed !important;
  right:0;
  bottom:0;
  color: white;
  background: rgba(49,151,251,1);
  height: 50px;
  line-height: 50px;
  z-index: 100;
}
