.button_box{
  border-top: 1px solid #e8e8e8;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

:global .invoicingList_reject_form{
  .ant-input{
    width: 100%;
  }
}

.verify_button_box{
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.infoCard{
  p:nth-child(1){
    margin-top: 5px;
  }
  p{
    padding-left: 100px;
    margin: 0;
    margin-bottom: 5px;
    position: relative;
    span{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
    }
  }
}

.p_margin3{
  p{
    padding-left: 80px!important;
    margin-bottom: 3px!important;
  }
}

:global .invoicingList_reject_form{
  .ant-form-item {
    .ant-form-item-label {
      display: none!important;
    }
  }
  .ant-form-item-control-wrapper{
    width: 100%;
  }
  textArea{
    width: 100%;
  }
}

.effect_button_box{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  button{
    margin-right: 10px;
  }
}

:global .invoicingList_actualMoney{
  .ant-form-item-children{
    input{
      background-color: white!important;
      border: none;
      font-weight: 600;
      color: #333;
      font-size: 18px;
    }
    input:hover{
      cursor: pointer;
    }
  }
}

:global .invoicingList_form{
  .ant-form-item-label{
    padding: 0;
    line-height: 32px;
    width: 100px;
  }
}

.passwordArea{
  position: relative;
  span{
    display: block;
    position: absolute;
    left: 15px;
    top: 20px;
    color: rgb(170, 170, 170);
  }
}

.totalMoney{
  float: right;
  margin-right: 20px;
}

.font-size12{
  font-size: 12px;
}

.font-size13{
  font-size: 13px;
}

.font-size14{
  font-size: 14px!important;
}