.content{
  margin: 8px 20px;
}

.item{
  border-bottom: 1px solid #e0e0e0;
  line-height: 40px;
}

.item-label{
  display: inline-block;
  padding-right: 15px;
  color: #333;
  font-size: 13px;
  width: 25%;
  text-align: right;
}

.item-value{
  display: inline-block;
  color: #666;
  font-size: 13px;
  width: 70%;
}

.version{
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  transform: translateY(-2em);
  color: #fff;
  font-size: .8em;
}
