.tenderInfo {
  border: 1px solid #ccc;
  padding: 20px 20px 20px 5px;
  margin-bottom: 20px;

  .tenderInfoTitle {
    font-size: 17px;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    padding-bottom: 10px;

    >span {
      color: #1890ff;
      font-size: 12px;
      margin-left: 30px;
      cursor: pointer;
    }
  }

  .tenderInfoUpload {
    padding: 20px;
    min-height: 300px;
  }

  .tenderInfoBtn {
    text-align: center;

    :global {
      .ant-btn {
        margin-right: 20px;
      }
    }
  }
}
